<form action="/add" method="POST">
    <p class="title">Titulo:</p>
    <input type="text" name="Titulo" id="">
    <p class="conteudo">Conteudo: </p>
    <textarea name="conteudo" ></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
